.popular_catagory_area {
  padding-top: 150px;
  padding-bottom: 120px;
}
@media (max-width: 767px) {
  /* line 1, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_popular_catagory.scss */
  .popular_catagory_area {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 1, ../../Arafath/CL/Cl November/222. Directory/HTML/scss/_popular_catagory.scss */
  .popular_catagory_area {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}
.popular_catagory_area .single_catagory {
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}
.popular_catagory_area .single_catagory .thumb {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.popular_catagory_area .single_catagory .thumb img {
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

